<!DOCTYPE html>
<html>
<head>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<title>Sentiment Analyzer</title>
<link rel="stylesheet" href="{{ url_for('static',filename='style.css') }}">
</head>
<div class="header">

    <h1 class="logo">MOVIELENS AI</h1>

    <p class="subtitle">
        Understand audience sentiment using AI
    </p>

</div>
<div class="stats-grid">

    <div class="stat-card">

        <h2>1274</h2>

        <p>Positive Reviews</p>

    </div>

    <div class="stat-card">

        <h2>543</h2>

        <p>Negative Reviews</p>

    </div>

    <div class="stat-card">

        <h2>2106</h2>

        <p>Total Reviews</p>

    </div>

</div>
<body>
<button class="theme-btn" onclick="toggleTheme()">
    🌙 Toggle Theme
</button>
<div class="card">
<h1>🎬 Movie Sentiment Analyzer</h1>
<p>Type your movie review below 👇</p>
<form method="POST">
<textarea name="review" placeholder=" Type your review..." required></textarea>
<button onclick="showLoader()">Analyze</button>

<div id="loader" class="loader"></div>
</form>
{% if prediction %}
{% if prediction == "positive" %}
<p class="stars">⭐⭐⭐⭐⭐</p>
    <div class="result-box positive-box">
        <h2>😊 Positive Review</h2>
        <p>Confidence: 85%</p>

        <div class="progress">
            <div class="progress-fill positive-fill"></div>
        </div>
    </div>

{% elif prediction == "negative" %}
<p class="stars">⭐☆☆☆☆</p>
    <div class="result-box negative-box">
        <h2>😡 Negative Review</h2>
        <p>Confidence: 85%</p>

        <div class="progress">
            <div class="progress-fill negative-fill"></div>
        </div>
    </div>
{% endif %}{% endif %}
<div class="chat-box">

    <h3>🤖 Movie AI Assistant</h3>

    <input type="text" id="userMessage"
           placeholder="Ask about movies...">

    <button onclick="sendMessage()">
        Send
    </button>

    <div id="chatResponse"></div>

<div id="chatResponse"></div>

</div>

<div class="reviews-section">

    <h2>🎥 Recent Movie Reviews</h2>

    <div class="reviews-grid">

        <div class="review-card">

            <h3>Oppenheimer</h3>

            <p>
                "Masterpiece movie with brilliant acting!"
            </p>

        </div>

        <div class="review-card">

            <h3>Barbie</h3>

            <p>
                "Fun, colorful and entertaining movie."
            </p>

        </div>

        <div class="review-card">

            <h3>Interstellar</h3>

            <p>
                "Mind blowing sci-fi experience."
            </p>

        </div>

    </div>

</div>

</div>

</div>
</div>
<script>
function showLoader() {
    document.getElementById("loader").style.display = "block";
}
</script>
<script>
function toggleTheme() {
    document.body.classList.toggle("light-mode");
}
</script>
<script>

async function sendMessage() {

    let message =
        document.getElementById("userMessage").value;

    let formData = new FormData();

    formData.append("message", message);

    let response = await fetch("/chat", {

        method: "POST",

        body: formData
    });

    let data = await response.json();

    document.getElementById("chatResponse").innerHTML =
        "<p><b>AI:</b> " + data.reply + "</p>";
}

</script>
</body>
</html>
