<!DOCTYPE html>
<html>
<head>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<title>Sentiment Analyzer</title>
<link rel="stylesheet" href="{{ url_for('static',filename='style.css') }}">
</head>
<body>
<button class="theme-btn" onclick="toggleTheme()">
    🌙 Toggle Theme
</button>
<div class="card">
<h1>🎬 Movie Sentiment Analyzer</h1>
<p>Type your movie review below 👇</p>
<form method="POST">
<textarea name="review" placeholder=" Type your review..." required></textarea>
<button onclick="showLoader()">Analyze</button>

<div id="loader" class="loader"></div>
</form>
{% if prediction %}
{% if prediction == "positive" %}
<p class="stars">⭐⭐⭐⭐⭐</p>
    <div class="result-box positive-box">
        <h2>😊 Positive Review</h2>
        <p>Confidence: 85%</p>

        <div class="progress">
            <div class="progress-fill positive-fill"></div>
        </div>
    </div>

{% elif prediction == "negative" %}
<p class="stars">⭐☆☆☆☆</p>
    <div class="result-box negative-box">
        <h2>😡 Negative Review</h2>
        <p>Confidence: 85%</p>

        <div class="progress">
            <div class="progress-fill negative-fill"></div>
        </div>
    </div>
{% endif %}{% endif %}
<div class="chat-box">

    <h3>🤖 Movie AI Assistant</h3>

    <p>Ask anything about movies!</p>

    <input type="text" placeholder="Ask about movies...">

    <button>Send</button>

</div>
</div>
<script>
function showLoader() {
    document.getElementById("loader").style.display = "block";
}
</script>
<script>
function toggleTheme() {
    document.body.classList.toggle("light-mode");
}
</script>
</body>
</html>
