body {
    background: 
        linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)),
        url('/static/bg.jpg');

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;

    font-family: Arial;
    text-align: center;
    font-family: Salina;
    text-align: center;
}

.card {
    background: linear-gradient(to top, #380036, #0CBABA) ;
    padding: 30px;
    margin: 50px auto;
    width: 350px;
    border-radius: 15px;
}

textarea {
    width: 100%;
    height: 100px;
    border-radius: 5px;
}

button {
    background: blue;
    color: white;
    padding: 10px;
    border: none;
    width: 100%;
}

.positive {
    color: green;
}

.negative {
    color: red;
}
